.container {

}

.container .auth-body {
    align-items: center;
    height: 100vh;
}

.container .auth-body .auth-form {
    min-height: 520px;
    width: 480px;
    /* background-color: var(--bs-login-bg); */
    padding: 44px;
    color: black;
}

.auth-form .auth-form__header {

}

.auth-form .auth-form__header .auth-form__heading {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form .auth-form__header .auth-form__heading .auth-form__logo {
    display: flex;
    justify-content: center;
}

.auth-form .auth-form__header .auth-form__heading .auth-form__logo a{
    height: auto;
    display: block;
}

.auth-form .auth-form__header .auth-form__heading .auth-form__logo a img{
    height: 60px;
    padding-right: 4px;
}

.auth-form .auth-form__header .auth-form__heading .auth-form__logo .auth-form__title{
    font-size: 40px;
    display: block;
    font-weight: 500;
}

.auth-form .auth-form__header .auth-form__notice {
    color: black;
    font-weight: 500;

}

.auth-form .auth-form__header .auth-form__notice a {
    color: black;
}

.auth-form .auth-form__header .auth-form__notice a:hover {
    color: var(--bs-item-color);
}

.auth-form .auth-form__form {
    margin-top: 20px;
}

.auth-form .auth-form__form .auth-form__group {

}

.auth-form .auth-form__form .auth-form__text{
    display: block;
}

.auth-form .auth-form__form .auth-form__input{
    width: 100%;
    padding: 8px 12px;
    background-color: inherit;
    border: 1px solid black;
}

.auth-form .form-submit-checkbox input[type="checkbox"] {
    top: 2px;
    position: relative;
}

.auth-form .form-submit-checkbox label {
    cursor: pointer;
}


.auth-form .auth-form__submit-text {
    color: black;
}

.auth-form .auth-form__submit-text:hover {
    color: var(--bs-item-color);
}

.auth-form .form-submit {

}

.auth-form .form-submit-other {

}

.auth-form .auth-form__submit {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 8px 12px;
    /* border-radius: 20px; */
}

.auth-form .auth-form__submit:hover {
    width: 100%;
    background-color: rgb(6, 6, 146);
    color: white;
    /* border: 1px solid white; */
    /* border-radius: 20px; */
}

.auth-form .auth-form__submit-another {

}

.auth-form .auth-form__submit-another span{
    color: var(--bs-item-color);
}

.auth-form .auth-form__submit-another span a{
    color: black;
}

.auth-form .auth-form__submit-another span a:hover{
    color: var(--bs-item-color);
}