USE [master]
GO
/****** Object:  Database [Sayune-Novel]    Script Date: 9/24/2025 9:19:51 PM ******/
CREATE DATABASE [Sayune-Novel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sayune-Novel', FILENAME = N'/var/opt/mssql/data/Sayune-Novel.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 512000KB )
 LOG ON 
( NAME = N'Sayune-Novel_log', FILENAME = N'/var/opt/mssql/data/Sayune-Novel_log.ldf' , SIZE = 20480KB , MAXSIZE = 2048GB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sayune-Novel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sayune-Novel]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[theloai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [theloai] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chapters]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chapters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NULL,
	[chapter_number] [int] NOT NULL,
	[chapter_name] [nvarchar](250) NULL,
	[chapter_content] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_chapters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chatbox]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatbox](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[chatbox_content] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_chatbox] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forum]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](50) NULL,
	[forum_content] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_forum] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[library]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[library](
	[id] [int] NOT NULL,
	[itemname] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[theloai_id] [int] NULL,
	[tacgia] [nvarchar](100) NULL,
	[trangthai] [nvarchar](50) NULL,
	[noidung] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_library] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [slug] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notices]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[item_id] [int] NULL,
	[chapter_id] [int] NULL,
	[notice_content] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_notices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[item_id] [int] NULL,
	[chapter_id] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
 CONSTRAINT [PK_report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/24/2025 9:19:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NULL,
	[createDate] [datetime] NULL,
	[refreshToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [email] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [username] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[chapters]  WITH CHECK ADD  CONSTRAINT [FK_chapters_library] FOREIGN KEY([item_id])
REFERENCES [dbo].[library] ([id])
GO
ALTER TABLE [dbo].[chapters] CHECK CONSTRAINT [FK_chapters_library]
GO
ALTER TABLE [dbo].[chapters]  WITH CHECK ADD  CONSTRAINT [FK_chapters_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chapters] CHECK CONSTRAINT [FK_chapters_users]
GO
ALTER TABLE [dbo].[chatbox]  WITH CHECK ADD  CONSTRAINT [FK_chatbox_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chatbox] CHECK CONSTRAINT [FK_chatbox_users]
GO
ALTER TABLE [dbo].[forum]  WITH CHECK ADD  CONSTRAINT [FK_forum_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[forum] CHECK CONSTRAINT [FK_forum_users]
GO
ALTER TABLE [dbo].[library]  WITH CHECK ADD  CONSTRAINT [FK_library_categories1] FOREIGN KEY([theloai_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[library] CHECK CONSTRAINT [FK_library_categories1]
GO
ALTER TABLE [dbo].[library]  WITH CHECK ADD  CONSTRAINT [FK_library_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[library] CHECK CONSTRAINT [FK_library_users]
GO
ALTER TABLE [dbo].[notices]  WITH CHECK ADD  CONSTRAINT [FK_notices_chapters] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[chapters] ([id])
GO
ALTER TABLE [dbo].[notices] CHECK CONSTRAINT [FK_notices_chapters]
GO
ALTER TABLE [dbo].[notices]  WITH CHECK ADD  CONSTRAINT [FK_notices_library] FOREIGN KEY([item_id])
REFERENCES [dbo].[library] ([id])
GO
ALTER TABLE [dbo].[notices] CHECK CONSTRAINT [FK_notices_library]
GO
ALTER TABLE [dbo].[notices]  WITH CHECK ADD  CONSTRAINT [FK_notices_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notices] CHECK CONSTRAINT [FK_notices_users]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_chapters] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[chapters] ([id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_chapters]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_library] FOREIGN KEY([item_id])
REFERENCES [dbo].[library] ([id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_library]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_users]
GO
USE [master]
GO
