/* Sidebar khung bao */
.sidebar-wrapper {
  width: 265px;
  height: 100vh;
  background: #fff;
  position: fixed;
  left: 0;
  border-right: 1px solid #ddd;
  /* overflow-y: auto; */
  z-index: 2;
  transition: all 0.3s ease;
}

.sidebar-wrapper .logo-wrapper {
  position: sticky;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: var(--bs-topbar-height);
}

.sidebar-wrapper .toggle-sidebar {
  position: absolute;
  right: 32px;
  top: 32px;
  cursor: pointer;
}

.sidebar-wrapper .logo-wrapper .logo-dark {
  height: var(--bs-logo-lg-height);
  right: 32px;
  position: relative;
}

.sidebar-main {
  /* padding: 0 10px; */
}

.sidebar-main .sidebar-menu {}

.sidebar-links {
  list-style-type: none;
  padding: 0;
}

.sidebar-main-title {
  padding: 10px 20px;
  /* color: #999; */
  text-transform: uppercase;
}

.sidebar-main-title h6 {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-list {
  /* display: flex;
  align-items: center; */
}

.sidebar-list:hover {
  background: #eef5ff;
  color: #0d6efd;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
  transition: all 0.25s ease;
  position: relative;
}

.sidebar-link i {
  width: 22px;
  text-align: center;
  font-size: 16px;
}

.sidebar-submenu {
  list-style: none;
  padding: 5px 0 5px 42px;
  margin: 0;
  display: none;
  animation: fadeIn 0.3s ease;
}

/* Submenu item */
.sidebar-submenu li a {
  display: block;
  padding: 6px 6px;
  color: #555;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

/* Hover submenu */
.sidebar-submenu li a:hover {
  color: #0d6efd;
}

/* Khi menu được mở */
.sidebar-list.open > .sidebar-submenu {
  display: block;
}

/* Animation submenu */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}
