/* HEADER */
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    margin-left: 265px;
    width: calc(100% - 265px);
    background-color: white;
}


.page-header .header-wrapper {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    /* background-color: rgb(245, 245, 245); */
    padding: 13px 30px;
}

.page-header .header-wrapper::before {
    position: absolute;
    content: "";
    bottom: 0%;
    height: 1px;
    z-index: 1;
    width: calc(100% - 40px);
    background: rgb(230, 233, 235);
}

/* LEFT */
.left-header h4 {
    font-size: 20px;
}

.welcome-content {
    text-align: justify;
}

.left-header .welcome-content span {
    color: var(--chart-text-color);
}

/* RIGHT */
.nav-menus {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.nav-right ul li {
    padding: 6px 10px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* PROFILE */
.profile-nav {
    position: relative;
}

.profile-media {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-media img {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    object-fit: cover;
}

.profile-info {
    margin-left: 10px;
}

.profile-info span {
    display: block;
    font-weight: 500;
}

.profile-info small {
    font-size: 12px;
    color: #6c757d;
}

/* DROPDOWN */
.profile-dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    min-width: 180px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    padding: 8px 10px;
    display: none;
    z-index: 2;
}

.profile-nav:hover .profile-dropdown {
    display: block;
}

.profile-dropdown > li{
    padding: 0 !important;
    border-bottom: 1px solid rgb(230, 233, 235);
    list-style-type: none;
}

.profile-dropdown li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    color: #051a1a;
    text-decoration: none;
}

.profile-dropdown li button {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    color: #051a1a;
    text-decoration: none;
    border: none;
}

.profile-dropdown li a:hover,
.profile-dropdown li button:hover {
    /* background: #f3f9ff; */
    color: #006666;
}

.page-body-wrapper {
    /* padding-top: 80px; */
}