.home-read-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
  z-index: 2;
}

.home-read-btn {
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1); 
  transform: translateY(10px);
  transition: transform 0.3s ease;
}

.home-book-card:hover .home-read-overlay {
  opacity: 1;
}

.home-book-card:hover .home-read-btn {
  transform: translateY(0);
}
.home-book-chapter {
  z-index: 3; 
}